<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/defaut.css">
</head>

<body>
    {{!-- View = Encarregada de apresentar os dados ao usuário, ou seja, a interface gráfica;

    Controller = Media a comunicação entre o Modelo e a Visão, recebendo as interações do usuário e atualizando a Visão
    com base nos dados do Modelo; requisição;

    Model = Responsável por gerenciar os dados da aplicação, incluindo a interação com bancos de dados e a lógica de
    negócio--}}


    {{!-- Há vários repositórios dentro do repositório --}}
    {{!-- Por que o Git foi criado? Foi criado por Linus Torvelds, para atender às necessidades de desenvolvimento do kernel Linux, especificamente para um sistema de controle
    de versão distribuído, que permitisse múltiplas linhas de trabalho e garantisse a integridade dos dados. --}}

    {{!-- fork serve para se precisar voltar para base, não pode ter 2 fork em uma conta --}}
    <p>Olá {{nome}}!!!</p>
</body>

</html>