<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabuada</title>
</head>

<body>
    <ul>
        {{#each valores}}
        <li>{{this}}</li>
        {{/each}} 
        {{!-- #each parametro de valores --}}
        {{!-- this - pega o primeiro valor e roda dentro da variável --}}
    </ul>
</body>

</html>